<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Cabin:400,700' rel='stylesheet' type='text/css'>  
  <title>Mind the Books</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="login">
    <h1>Mind the Books</h1>
    <h2 class="subtitle">for members of public libraries in <strong>London Borough of Southwark</strong>
    </h2>
  </nav>
  <div class="main">
    <p class="intro">
      Welcome to <b>Mind the Books!</b> Mind the Books remembers your Southwark library card and renews your
      borrowed books automatically when they're nearing their due date, so that you don't have to.
    </p>
    <%= yield %>
  </div>
  <footer>
  </footer>
</body>
</html>
